@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

/* ========TABLE OF CONTENTS========== 
01. BODY
01. NAVIGATION MENU
02. SECTION INTRO
03. SECTION ABOUT
04. SECTION RESUME
05. SECTION PORTFOLIO (WORKS)
06. SECTION BLOG
07. SECTION QUOTE
08. SECTION CONTACT
09. MEDIA QUERIES FOR RESPONSIVE DESIGN

/*--------------------------------------------------
	00. Body, general styles
---------------------------------------------------*/
body {
	background: #ffffff;
	font-family: "Open Sans",sans-serif;
	color: #222;
}
a {
	color: #222;
}
a:hover {
	text-decoration: none;
	color: #ff324a;
}
a:focus { text-decoration:none; }
h1, h2, h3, h4, h5, h6 {

}
h1 {
	font-size: 50px;
	letter-spacing: 5px;
}
h2 {
	font-size: 35px;
	letter-spacing: 4px;
}
h3 {
	font-size: 30px;
	letter-spacing: 3px;
}
h4 {
	font-size: 25px;
	letter-spacing: 3px;
}
h5 {
	font-size: 20px;
	letter-spacing: 2px;
}
h6 {
	font-size: 15px;
	letter-spacing: 2px;
}
p {
	font-family: 'Inconsolata', serif;
	font-size: 12px;
	letter-spacing: 2px;
	color: #555;
}

.plineheight {
	line-height: 20px;
	font-size: 13px;
	padding-bottom: 15px;
}

.sectionTitle{
	max-width: 600px;
	margin: 10% auto 6% auto;
}
.sectionTitle h3{
	font-family: "Open Sans",sans-serif;
	font-size: 25px;
	text-align: center;
	letter-spacing: 10px;
	text-transform: uppercase;
	color:#000000;
	font-weight: bold;
	margin: 40px 0;
}

.sectionTitle p{
	font-family: 'Inconsolata', sans-serif;
	font-size: 14px;
	text-align: center;
	letter-spacing: -1px;
	line-height: 25px;
	padding: 25px 0;
}


hr.separator{
	width: 120px;
	border-top: 1px solid #dadada;
}
hr.sepblack {
	border-top:1px solid #222;
}
/*PAGE LOADER*/

#loader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#loaderInner {
    background:#ffffff url(../img/loader.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 60px;
}


/*--------------------------------------------------
	01. Navigation
---------------------------------------------------*/

/* General styles for all menus */
.cbp-spmenu {
	background: #0a0a0a;
	position: fixed;
	padding-top: 50px;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}



/* === 02. SECTIO INTRO */

.menu-button {
	position: fixed;
	top:10px;
	left: 10px;
	z-index: 1000;
	padding: 0;
	width: 50px;
	height: 50px;
	font-size: 30px;
	border: 0;
  	outline: 0;
	color: #ffffff;
	background: #0a0a0a;
}
#sectionIntro {
	background-image: url(../img/01.jpg);
	width:100%;
	min-height:700px;
	background-position: 50% 80%;
	background-size: cover;
	background-position:fixed;
	
}

.imgIntro{
	width: 100%;
}

.introOut{
	border: 1px solid #f7f7f7;
	max-width: 650px;
	margin: 0 auto;
	margin-top: 15%;
	padding: 5px 5px 50px 5px;
}
.introIn{
	background: rgba(255,255,255,0);
	border: 1px solid #ffffff;
	color:#000000;
	padding: 80px 55px;
	text-align: center;
}
.introIn h2 {
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 12px;
	font-weight: 800;
	color: #ffffff;
}
.introIn p{
	font-size: 17px;
	font-style: italic;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 400;
	color: #ffffff;
}
.introIn hr{
	width: 30%;
	color:#0a0a0a;
}

a.scroll-down {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;

}
a.scroll-down div {
	font-size: 30px;
	color: #ffffff;
}



/* === 03. SECTIO ABOUT */

.aboutOutside{
	border: 1px solid #a0a0a0;
	text-align: center;
	padding: 0;
}
.aboutBox {
	margin: 25px 0;
}
.aboutInside{
	border: 1px solid #a0a0a0;
	color:#0a0a0a;
	margin: 5px;
	padding: 20px;
}

.aboutInside h4{
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 5px;
}

.aboutInside p{
	font-size: 14px;
	text-align: left;
	letter-spacing: -1px;
	line-height: 25px;
}

.aboutInside li{
	font-family: 'Inconsolata', sans-serif;
	font-size: 14px;
	text-align: left;
	letter-spacing: -1px;
	line-height: 25px;
}
.imgAbout{
	text-align: center;
}
.aboutStats {
	background: #eee;
	margin-top: 100px;
	padding: 50px 0;
}
.aboutStats .asBox {
	margin: 10px 0;
}
.asContent {
	background: #ffffff;
	text-align: center;
	padding: 25px;
}
.asContent h5 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.asContent .icon {
	font-size: 40px;
}


/* === 04. SECTIO RESUME */


#sectionResume{
	background: #fff;
}

.resumeLeft h4,.resumeRight h4{
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.resumeLeft, .resumeRight {
	text-align: center;
}
.resumeList {
	-webkit-padding-start: 0px;
	-moz-padding-start:0px;
	padding: 0 20px;
}
.resumeLi {
	border: 1px solid #a0a0a0;
	margin: 25px 0;
	list-style: none;
}
.resumeDiv {
	margin: 5px;
	border: 1px solid #a0a0a0;
	padding: 5px;
}
.resumeDiv h5 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
.resumeSpan {
	font-family: 'Inconsolata', sans-serif;
	font-size: 13px;
}
.resumeLi p {
	padding-top: 10px;
}
.resumeStats {
	background: #f8f8f8;
	margin-top: 100px;
	text-align: center;
}
.resumeStats .col-md-2 {
	padding: 75px 0;
	border: 1px solid #fff;
	min-height: 270px;
}
.resumeStats h2 {
	font-size: 50px;
	font-weight: bold;
}
.resumeStats .icon {
	font-size: 45px;
}
.resumeStats h6 {
	font-family: 'Inconsolata', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.resumeleftOut{
	border: 1px solid #a0a0a0;
	padding:5px 5px;
	margin: 5%;
}

.resumeleftIn{
	border:1px solid #a0a0a0;
	padding: 5% 10%;
}

.titleBoxEd{
	font-size: 15px;
	letter-spacing: 3px;
	text-align: right;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}

.education-text h3{
	font-size: 10px;
	letter-spacing: 3px;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

.education-text span{
	font-weight: bold;
}

.education-text p{
	margin-top: 10px;
}

.education-text{
	font-size: 10px;
	text-align: right;
	margin-bottom: 10%;
}

.titleBoxEm{
	font-size: 15px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}


.resumerightOut{
	border: 1px solid #a0a0a0;
	padding:5px 5px;
	margin: 5%;
}

.resumerightIn{
	border:1px solid #a0a0a0;
	padding: 5% 10%;
}

.employment-text h3{
	font-size: 10px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}

.employment-text span{
	font-weight: bold;
}

.employment-text p{
	margin-top: 10px;
}

.employment-text{
	font-size: 10px;
	text-align: left;
	margin-bottom: 10%;
}


/* ========05. SECTION PORTFOLIO (WORKS)========== */

#sectionPortfolio{
	padding-bottom: 10%;
}

#sectionWorks {
	padding-top: 25px;
	padding-bottom: 100px;
	text-align: center;
}
#sectionWorks h1 {
	margin-bottom: 50px;
}
/* ====WORKS GRID==== */

.worksItem {
  	display: none;
  	padding: 0px;
  	overflow: hidden;
  	position: relative;
  	height: auto;
  	text-align: center;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
.worksItem img {
	width: 100%;
	height: auto;
  	-webkit-transition: all .25s ease-out;
  	transition: all .25s ease-out;
}
.worksItem .itemCaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
-webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
-moz-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
-ms-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
-o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  	transform: scale(1);
}
.worksItem:hover .itemCaption {
	opacity: 1;
	transform: scale(.95);
}
.captionContent {
	position: relative;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
  	background-color: rgba(255,255,255,0.8);
  	padding-top: 30%;
}
.itemCaption h3 {
	font-size: 15px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 15px;
	padding: 0;
	color: #222;
}
.itemCaption p {
	font-size: 14px;
}


/* ====WORKS FILTERS==== */
.worksFilters {
  	-webkit-padding-start:0px;
}
.worksFilters {
  	margin: 0 auto;
  	text-align: center;
  	margin-bottom: 50px;
}
.worksFilters li {
  	display: inline-block;
  	cursor: pointer;
  	padding: 5px 10px;
  	margin:0 10px;
  	font-weight: 600;
  	font-size: 10px;
  	text-transform: uppercase;
  	-webkit-transition: all .2s ease-out;
  	transition: all .2s ease-out;
  	letter-spacing: 2px;
  	border:1px solid #fff;
}
.current-filter {
	border: 1px solid #000000!important;
  	padding: 5px 20px;
}

.modal-box {
	max-width: 550px;
	background: #fff;
	position: relative!important;
	margin: 0 auto;
	left: 0!important;
}
.modal-box img {
	width: 100%;
	height: 100%;
}
.modal-box-content {
	padding: 25px;
}
.modal-box-content h2 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 2px;
}
.modal-box-content p {
	color: #777777;
	line-height: 21px;
	letter-spacing: 2px;
	font-size: 11px;
}

.contactForm {margin: 0 0 50px 0;}
.contactForm h1 {
  	letter-spacing: 5px;
  	font-size: 15px;
  	font-weight: 700;
  	text-transform: uppercase;
  	text-align: center;
  	padding-bottom: 30px;
}

.interSection{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	height: 10px;
	width: 100%;
	float:center;
}




/* === 06. SECTIO BLOG */

#sectionBlog {
	background: #f9f9f9;
	padding:25px 0 50px 0;
	padding-bottom: 10%;
}

.blog{
	padding: 10px 10px;
	text-align: center;
	font-family: "Inconsolata", sans-serif;
	font-size: 10px;
}

.blogOut{
	border: 1px solid #a0a0a0;
	padding: 5px 5px 5px 5px;
	margin: 20px;
	text-align: center;
}

.blogIn{
	border: 1px solid #a0a0a0;
	color:#0a0a0a;
	padding: 27px 20px;
	font-family: "Inconsolata", sans-serif;
}

.blog h4{
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.blog p{
	margin-bottom: 20px;
	font-size: 12px;
	text-align: left;
}

.blog a{
	padding: 5px 5px;
	border: 1px solid #000000;
	color:#111;
}

.blog a:hover, a:focus{
	text-decoration: none;
}



/* === 07. SECTIO HIRE */

#sectionQuote {
	background-image: url(../img/10.jpg);
	background-position: 50% 80%;
	background-size: cover;
	padding: 50px 0;
}

.quoteOut{
	border: 1px solid #ffffff;
	padding: 5px;
}

.quoteIn{
	border: 1px solid #ffffff;
	padding: 25px;
	color: #ffffff;
	text-align: center;
}
.quoteIn h6 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.quoteIn p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 20px 0;
	color: #fff;
}

a.bPurchase {
	font-family: 'Inconsolata', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	border:1px solid #fff;
	padding: 5px;	
}

.quoteIcon {
	font-size: 30px;
}


/* === 08. SECTIO CONTACT */

/* ====GENERAL FORM STYLES==== */

#sectionContact{
	margin-bottom: 0px;
}

.contactForm{
	margin-left: 35%;
	margin-right: 35%;
}
input, textarea, select {
    color: #222;
	background: transparent;
	vertical-align: top;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	margin: 0;
	padding: 20px;
	width: 100%;
	height: 100%;
	border: 0;
	border-bottom: 1px solid #ccc;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
}
input:focus, textarea:focus, select:focus {
	outline: none;
	position: relative;
	z-index: 5;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border-bottom: 1px solid #222;
}

input.submit {
	width: auto;
	cursor: pointer;
	position: relative;
    background: transparent;
    color: #111;
    padding: 10px 20px;
    margin: 20px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
  	font-weight: 400;
  	letter-spacing: 3px;
  	font-family: "Open Sans", sans-serif;
  	border: 1px solid #222;
}
input.submit:hover {
	background: #222;
	color: #ffffff;
}

#contactform input[type="submit"][disabled] { background:#777; cursor: default; }
#contactform div {margin: 20px 0;}
.contactForm fieldset { padding:0;border:0; }
.contactForm label {
	font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}
/* ====MESSAGE FOR SUCCES==== */

#message { 
	margin: 1em 0; 
	padding: 0; 
	display: block; 
	background: transparent none; 
}
#message h1 {
  	letter-spacing: 1px;
 	font-size: 20px;
  	font-weight: 400;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
}

#message p {
  	font-size: 16px;
  	font-weight: 200;
  	text-align: left;
  	font-style: italic;
  	font-family: "Open Sans", sans-serif;
}

/* ====MESSAGE FOR ERROR==== */
.errorMessage { 
  	display: block;
  	font-size: 14px;
    padding: 20px 0 0 0;
    font-family: "Open Sans", sans-serif;
}

ul.errorMessages { padding: 10px 0 0 0; }
ul.errorMessages li { 
  	font-size: 16px;
  	font-weight: 200;
  	text-align: left;
  	color: #000000;
  	list-style: none;
  	line-height: 25px;
  	font-family: "Open Sans", sans-serif;
}


.contactFooter {
	background-color: #0a0a0a;
	padding: 40px 0 30px 0;
	color: #fff;
}
.footerLeft {
	font-size: 13px;
	font-weight: 400;
	color: #777;
	padding-top: 15px;
}
.footerRight {
	text-align: right;
	font-size: 30px;
}
.footerRight a{
	color: #777;
	padding: 0 10px;
}
.footerRight a:hover {
	color: #fff;
}
.contactRight {
	padding-left: 5%;
}
.contactBox .icon {
	color: #2eb267;
	font-size: 25px;
}
.contactBox {
	margin: 30px 0;
}
.contactBox h3 {
	margin-top: 2px;
	margin-bottom: 5px;
	text-transform: uppercase;
  	font-weight: 600;
  	font-size: 12px;
  	letter-spacing: 3px;
}

.footerOut{
	margin-top: 10%;
	padding: 3px 3px;
	margin-left: 30%;
	margin-right: 30%;
}

.footerIn{
	text-align: center;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	padding: 10px 10px;
}

.footerIn .fa{
	margin-right: 5%;
}

.rightsOut{
	margin-top: 10%;
	padding: 3px 3px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 7.5% 
}

.rightsIn{
	text-align: center;
	font-size: 11px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: "Open Sans", sans-serif;
	padding: 10px 10px;
}
.contactFooter {
	background: #222;
	color: #ffffff;
}


/* === 09. RESPONSIVE */

@media (max-width: 768px) {

#trigger-overlay{
	top:10px;
	left: 10px;
	padding: 2px 10px;
}

.introIn h2 {
	font-size: 25px;
}
.introIn {
	padding: 40px 30px;
}
.outintroTitle{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 60%;
}

.inintroTitle{
	text-align: center;
}
#sectionQuote {
	padding: 25px 0;
}


.navigation {
	background:#ffffff;
	text-align:right;
	padding-right:25px;
	width:100%;
}
.navigation li {
	display:block;
	line-height:50px;
}

}
/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}
